.general-questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .fullname {
    display: flex;
    gap: 20px;

    .name,
    .surname {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
      input {
        width: 235px;
        height: 36px;
        padding: 8px;
        border-radius: 25px;
        background-color: #f2f6f6;
        border: 1px solid #f2f6f6;
        outline: none;
        &:hover {
          outline: gray;
          border: 1px solid #dbdbdb;
        }
      }
    }
  }
  .employment,
  .education,
  .degree {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}