.end-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    li {
      border: 2px solid #bebebe;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .id-section {
        padding: 16px 10px 16px 20px;
        border: 1px solid #bebebe;
        border-width: 0 2px 0 0;
      }
      .uni-name {
        width: 207px;
        padding: 0 8px;
      }
      .degree-name {
        width: 70px;
        padding: 16px 2px 16px 4px;
        border: 2px solid #bebebe;
        border-width: 0 2px 0;
      }
      .date {
        width: 135px;
        padding: 8px 3px;
        border: 2px solid #bebebe;
        border-width: 0 2px 0 0;
      }
      .delete {
        padding: 11px 8px;
      }
    }
  }
  .new-info {
    padding: 10px 17px 9px 16px;
    border-radius: 25px;
    background-color: #f2f6f6;
    border: #f2f6f6;
  }
}
