.main-form {
  position: relative;
  justify-self: center;
  min-height: 795px;
  min-width: 575px;
  .form-side {
    margin-top: 100px;
    height: 611px;
    max-height: 611px;
    width: 575px;
    overflow-y: scroll;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &::-webkit-scrollbar {
      width: 12px; /* Adjust the width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff; /* Set the color of the scrollbar thumb (the draggable part) */
      border-radius: 6px; /* Adjust the border-radius to make it rounder */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #fff; /* Set the color of the scrollbar thumb on hover */
    }

    &::-webkit-scrollbar-track {
      background-color: #fff; /* Set the color of the scrollbar track (the background) */
      // border-radius: 6px; /* Adjust the border-radius to make it rounder */
    }
    .bg {
      background-color: #fff;
      border-radius: 20px;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #038477;
    }
  }
  .buttons {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
