.education-questions-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .bachelor,
  .university-name,
  .speciality,
  .dates,
  .type-accepting {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      font-size: 16px;
      font-weight: 500;
    }
    .line-dates {
      display: flex;
      gap: 20px;
      input {
        width: 235px;
        color: #adadad;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(70%);
        width: 20px; /* Set the width of the icon */
        height: 20px;
      }
    }
    .line-current {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
    input:where([type="text"], [type="date"]) {
      padding: 8px;
      border-radius: 25px;
      background-color: #f2f6f6;
      border: 1px solid #f2f6f6;
      outline: none;
      &:hover {
        border: 1px solid #dbdbdb;
      }
    }
    .radios {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      font-weight: 400;
      div {
        width: 150px;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        border-radius: 25px;
        background-color: #f2f6f6;
        font-size: 14px;
        input[type="radio"] {
          border-color: 1px solid #d9d9d9;
          outline: none;
        }
        input[type="radio"]:checked + label {
          color: #038477;
        }
      }
    }
  }
  .bachelor {
    .selections {
      display: flex;
      gap: 20px;
      .country,
      .city {
        width: 50%;
        &:hover {
          border-color: #038477 !important;
        }
      }
    }
  }
}
